// Montserrat Regular (400)
@font-face {
	font-family: "Montserrat";
	src: url("@fonts/Montserrat-Regular.eot");
	src: local("Montserrat"),
	url("@fonts/Montserrat-Regular.woff") format("woff"),
	url("@fonts/Montserrat-Regular.ttf") format("truetype"),
	url("@fonts/Montserrat-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

// Montserrat SemiBold (600)
@font-face {
	font-family: "Montserrat";
	src: url('@fonts/Montserrat-SemiBold.eot');
	src: local("Montserrat"), 
	url('@fonts/Montserrat-SemiBold.woff') format("woff"),
	url('@fonts/Montserrat-SemiBold.svg') format("svg"),
	url('@fonts/Montserrat-SemiBold.ttf') format("truetype");
	font-weight: 600;
	font-style: normal;
}
